body{
	overflow: hidden;
}

a{
	color: #999;
}

a:hover{
	color: #000;
	text-decoration: none;
}

div.blue{
	background-color: #21AEFF;
}

div.green{
	background-color: #0CE85E;
}

div.orange{
	background-color: #FF8D27;
}

.fgWhite{
	color: #fff;
}

.fgGreen{
	color: #35c543;
}

h1.white,h2.white,h3.white,h4.white,p.white{
	color: #fff;
}

h1.ptsans,h2.ptsans,h3.ptsans,h4.ptsans,p.ptsans{
	/*font-family: "PT-Sans";*/
}

h1,h2,h3,h4{
	font-weight: normal;
}

.row-lg{
	height: 100px;
}

.row-offset-lg{
	margin-top: 100px;
}

.row-offset-md{
	margin-top: 60px;
}

.row-offset-sm{
	margin-top: 20px;
}

.row-offset-15{
	margin-top: 15px;
}


.row-offset-xs{
	margin-top: 10px;
}

.back-arrow{
	font-size: 30px;
	padding-top: 10px;
	padding-left: 10px;
	color: #999;
	position: absolute;
}

.back-arrow:hover{
	color: #000;
	cursor: pointer;
}

/* ADMIN */

.topNav{
	position: fixed;
	width: 100%;
	z-index: 100;
}

.adminHomeItem{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 5px;
}

.adminHomeItem.current{
	background-color: #FF8D27;
}

.adminHomeItem.current h3, .adminHomeItem.current span{
	color: #fff;
}

.adminHomeItem h3,.adminHomeItem h4{
	padding-left: 10px;
	color: #555;
	display: inline-block;
}

.adminHomeItem h3:hover{
	color: #000;
	cursor: pointer;
}

.adminHomeItem span{
	display: inline-block;
	float: right;
	padding-right: 20px;
	color: #999;
	font-size: 20px;
	vertical-align: middle;
	padding-top: 20px;
}

.navbar-title{
	color: #444;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
	margin: 0;
	padding-top: 7px;
}

.navbar-title-sm{
	color: #444;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	margin: 0;
	padding-top: 12px;
}

.admin-bottom-nav li.current,.admin-bottom-nav li.current span{
	background-color: #21AEFF;
	color: white;
}

.admin-bottom-nav{
	position: fixed;
	bottom: 0;
	background-color: #F8F8F8;
	width: 100%;
	height: 70px;
	border-top: 1px solid #ddd;
}

.admin-bottom-nav ul{
 	padding: 0;
}

.admin-bottom-nav li:last-child{
	border-right: none;
}

.admin-bottom-nav span{
	font-size: 30px;
	color: #999;
}

.admin-bottom-nav{
	text-align: center;
}

.ftr-offset{
	height: 100px;
	padding-top: 10px;
}

.nav-offset{
	height: 100px;
	padding-bottom: 10px;
}

/** practices **/

.addButton{
	font-size: 20px;
	margin-right: 25px;
}
.addButtonSm{
	font-size: 14px;	
	margin-right: 25px;
}
.addButton:hover,.addButtonSm:hover{
	cursor: pointer;
}

.formLabel{
	font-weight: 100;
	color: #999;
}

.skill_item{
	
}

/** Goals **/

.goalItem{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 5px;
}

/** AJAX LOADER **/

#loaderDiv{
	display: none;

	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #000;
	opacity: 0.4;
	z-index: 100;
	top: 0;
}

#loaderDiv h4{
	color: #fff;
	text-align: center;
	margin-top: 20px;
}

#loaderDiv img{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
	display: block;
}